# API
# development or production
API_ENVIRONMENT=development
API_DB=api
API_DB_USER=api
API_DB_PASSWORD=api
API_DB_HOST=postgres
API_DB_PORT=5432
# disable or enable
API_DB_SSLMODE=disable
API_DB_MIN_CONNS=2
API_DB_MAX_CONNS=10
API_DB_MAX_CONN_LIFETIME=30m
API_DB_MAX_CONN_IDLE_TIME=5m

# Keycloak
KC_DB=keycloak
KC_DB_USER=keycloak
KC_DB_PASSWORD=keycloak
KC_ADMIN_USERNAME=admin
KC_ADMIN_PASSWORD=admin

# OIDC Auth
API_OIDC_ENABLED=false
API_OIDC_ISSUER_URL=http://keycloak:8080/realms/betting
API_OIDC_CLIENT_ID=betting-api
API_OIDC_JWKS_URL=http://keycloak:8080/realms/betting/protocol/openid-connect/certs

# Ministack (for SQS service)
AWS_REGION=us-east-1
AWS_ENDPOINT_URL=http://ministack:4566
SQS_QUEUE_NAME=wager-transactions.fifo
SQS_QUEUE_URL=http://ministack:4566/000000000000/wager-transactions.fifo
SQS_OUTBOUND_QUEUE_NAME=wager-events-outbound.fifo
SQS_OUTBOUND_QUEUE_URL=http://ministack:4566/000000000000/wager-events-outbound.fifo
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test